<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/06_02/start/test/Form.java">
        <classes>
            <class name="Form">
                <methods>
                    <include name="testcase1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>